body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-size: 2rem;
    color: aliceblue;
}

.section{
    text-align: center;
}

.btn{
    font-size: 60px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
    filter: grayscale();
    transition: filter .2s ease-in-out;
}

.btn:hover{
    filter: grayscale(0);
}

.emoji-name{
    font-weight: 600;
    color: blue;
}

